/* <<<<<<< HEAD */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
    /* landing page start */
.landing-page{
    position: relative;
}
.navbar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;


}
.landing-logo-img{
    margin-left: 120px;
    margin-bottom: 8px;
}
.container-navbar{
    display: flex;
    gap: 40px;
    margin-right: 10%;
    
}
.container-navbar ul li {
    display:inline-flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
  
}
.container-navbar ul li a{
    text-decoration: none;
    margin: 0px 20px;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.container-navbar ul li a:hover{
    color: red;
}
.landing-img{
    width: 100%;
    height: 100%;
    position: relative;

}
.landing-content{
    width: 100%;
    height: 80%;     
    background-position: center;
    background-size: cover;
}
.landing-text{
    top: 50%;
    right: 60%;
    position: absolute;
  
}
.landing-text p{
    font-weight: bolder;

}
.landing-text h1{
    margin-bottom: 30px;
}
.landing-text button{
    padding: 10px 30px;
    background-color: rgb(253, 23, 61);
    border: none;
    color: #fff;
}

    /* landing page end */

    /* second page start */
#second{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#second-content{
    width: 100%;
    height: 90%;
    display: flex;
    padding-top: 10%;
}
#second-content #second-img{
    margin-left: 3%;
    width: 50%;
    height: 100%;
    background-image: url(image/second-img.webp);
    background-position: bottom;
    background-size: cover;
    object-fit: cover;
}
#second-content #second-text{
    margin-right: 2%;
    width: 45%;
    height: 100%;
}
.second-text-content{
    display: flex;
    gap: 30px;
    margin-left: 20%;

}
#second-text h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 30px;

}
#second-text p{
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 12%;
    font-size: 14px;
    font-weight: 300;
}
.second-text-content h4{
    text-align: center;
}
.second-one{
    background-color: #fff;
    border: 2px solid #e5e2e2;
}
.second-two{
    background-color: #fff;
    border: 2px solid #e5e2e2;
}
.second-three{
    background-color: #fff;
    border: 2px solid #e5e2e2;
}
      /* second page end */

      /* third page start */
.third{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.third-text{
    width: 100%;
    height: 20%;
    text-align: center;
    top: 10%;
}
.third-text h2{
    font-weight: bolder;
    font-size: 34px;
    padding-top: 2%;
}
.third-content{
    width: 100%;
    height: 80%;
   
    display: flex;
}
.third-card{
    align-items: center;
    margin-left: 5%;
    margin-bottom: 3%;
    display: flex;
    gap: 40px;
}
.card{
    box-shadow: 5px 5px 5px rgb(218, 217, 217);
}
.card-body .bed button{
    margin: 10px 0px;
    padding: 5px 8px;
    background-color: whitesmoke;
    border: 2px solid #e5e2e2;
}
.card-body .bed a{
    text-decoration: none;
    color: black;
}
.card-body .bar button{
    margin: 10px 0px;
    padding: 5px 8px;
    background-color: whitesmoke;
    border: 2px solid #e5e2e2;
}
.card-body .bar a{
    text-decoration: none;
    color: black;
}
.card-body .park{
    margin: 10px 0px;
    padding: 5px 8px;
    background-color: whitesmoke;
    border: 2px solid #e5e2e2;
}
.card-body .park a{
    text-decoration: none;
    color: black;
}
.card-body .sale{
    background-color: rgb(253, 23, 61);
    border: none;
    transition-delay: 0.5s;
}
.card-body .sale:hover{
    background-color: whitesmoke;
    border: 2px solid rgb(253, 23, 61);
    color: rgb(253, 23, 61);
    transition-delay: 0.5s;   
}
    /* third section end */

    /* fourth section start  */
.fourth{
    height: 90%;
    width: 100%;
    background-image: url(image/bgimage.jpg), linear-gradient(rgba(0,0,0.75,0.75),rgba(0,0.75,0,0.75)) ;
    background-position: center;
    background-size: cover;
    /* padding-top: 6%; */
    /* padding-left: 15%;   */
}
.four{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four .four-text{
    width: 33%;
    height: 100%;
        
}
.card{
    box-shadow: none;
}
.four-text h2{
    color: #fff;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    margin-top: 30%;
}
.four-text p{
    color: rgb(246, 242, 242);
    margin-top: 10%;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}
.four-content{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 3%;
    margin-top: 7%;
}
.four-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(image/feedback-one.webp);
    background-position: center;
    background-size: cover;
    margin: 10% 0 6% 35%;
}
.four-second--img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(image/feedback-two.webp);
    background-position: center;
    background-size: cover;
    margin: 10% 0 6% 35%;
}
/* .four-style{
    background-color: royalblue;
} */
.card-text{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-align: center;
}
.card-title{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 14px;

}
.card-body p{
    text-align: center;
    padding-top: 10px;
    color: #fff;
}
    /* fourth section end  */